

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Quota | Share your data package among neighbors </title>

        {% include 'meta.html.twig' %}

        <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/landing/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/landing/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/landing/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/landing/css/responsive.css') }}">

        <script>document.write('<div class="loader centered" id="loader"></div>')</script>

        <!-- Js -->
        <script src="{{ asset('bundles/landing/js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/landing/js/vendor/jquery-1.10.2.min.js') }}"><\/script>')</script>
        <script src="{{ asset('bundles/landing/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/landing/js/wow.min.js') }}"></script>
        <script src="{{ asset('bundles/landing/js/main.js') }}"></script>
        <script>
         new WOW(
            ).init();
        </script>
		<script>document.querySelector('#loader').remove()</script>
        <style type="text/css">
            div.c1 {
                position: fixed;
                width: 70px;
                margin: 0;
                padding-left: 10px;
                padding-right: 10px;
                top: 30%;
                right: 0;
                z-index: 10000000;
                -webkit-border-radius: 10px 0px 0px 10px;
                -moz-border-radius: 10px 0px 0px 10px;
                border-radius: 10px 0px 0px 10px;
                background-color: #FFFFFF;
                -webkit-box-shadow: #B3B3B3 2px 2px 2px;
                -moz-box-shadow: #B3B3B3 2px 2px 2px;
                box-shadow: #B3B3B3 2px 2px 2px;
            }
            @media only screen and (max-width: 400px) {
                .c1 {
                    display: none;
                }
            }
            .scale {
                max-width: 100%;
                height: auto;
                width: auto\9; /* ie8 */
            }
            .img-logins {
                padding: 4px;
                cursor: pointer;
            }
            .img-logins:hover
            {
                -webkit-transform: translateX(-3px);
                transform: translateX(-3px);
            }
        </style>
    </head>
    <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="app-showcase wow fadeInDown" data-wow-delay=".5s">
                        <img class="scale" src="{{ asset('bundles/landing/images/iphone.png') }}" alt="">
                    </div>
                    
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="block wow fadeInRight" data-wow-delay="1s">
                        <a class="logo" href="#">
                            <img class="scale" src="{{ asset('bundles/landing/images/fb-quota-title.png') }}" alt="">
                        </a>
                        <h2>Quota.</br>Way to share internet</h2>
                        <p>Let you share your data package amoung neighbors</p>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="download-btn">
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
                                    <img class="img-logins" src="{{ asset('bundles/landing/images/g-login.png') }}" alt="">
                                </a>
                                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}">
                                    <img class="img-logins" src="{{ asset('bundles/landing/images/fb-login.png') }}" alt="">
                                </a>
                            </div>
                        {% else %}
                            <div class="download-btn">
                                <a href="{{ path('overview') }}" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> My account</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
			<section>
                <div class="c1">
                    <br>
                    <div class="fb-like" data-href="http://quota.wearetrying.info" data-layout="box_count"
                         data-action="like" data-show-faces="true" data-share="true"></div>
                    <br>
                    <br>
                    <div class="g-plusone" data-size="tall" data-href="http://quota.wearetrying.info"></div>
                    <br>
                    <br>
                </div>
                <!-- /.box -->
            </section>	
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default" role="navigation">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav ">
                            <li><a href="#">Download</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Developers</a></li>
                            <li><a href="#">Privacy</a></li>
                          </ul>
                           <div class="social-link pull-right">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>    
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>    
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    {% if model_err_title is defined %}
        <div class="modal modal-warning" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ model_err_title }}</h4>
                    </div>
                    <div class="modal-body">
                        {{ model_err_body | raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline" data-dismiss="modal">Dismiss</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    {% endif %}

    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1" type="text/javascript">
    </script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
    </script>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=896046253825195";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    </body>
</html>
