{% set settings_li_class='treeview-active' %}
{% set settings_display='block' %}
{% set settings_ul_class='treeview-menu menu-open' %}

{% set li_class='treeview' %}
{% set display='none' %}
{% set ul_class='treeview-menu ' %}

{% set cost_li_class='treeview' %}
{% set cost_display='none' %}
{% set cost_ul_class='treeview-menu ' %}

{% set tab_myZone='' %}
{% set settings_arrow='down' %}

{% extends 'dashboard/base.html.twig' %}
{% block contentHeader %}My Zone{% endblock %}
{% block contentDescription %}Customize my zone{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Zone credentials</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.username }}" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">PassKey</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" value="{{ app.user.pkey }}" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input id="reveal" type="checkbox"> Unmask key
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.username }}" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" value="{{ app.user.username }}" placeholder="Email">
                        </div>
                    </div>
                    {{ app.user.zone }}

                    {{ app.user.uid }}
                    {{ app.user.pkey }}
                </div>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Running master package</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                </div>
            </div>
            <!-- /.box -->
        </div>
    </div>

    <div class="modal" id="myzone-info">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">MyZone Info</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Dismiss</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}