{% extends 'dashboard/base.html.twig' %}
{% block contentHeader %}Client summary{% endblock %}
{% block contentDescription %}summary of clients{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Usage by clients</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th style="width: 40px">MAC</th>
                            <th style="width: 10px">State</th>
                            <th style="width: 300px">Usage</th>
                            <th style="width: 10px">%</th>
                            <th style="width: 10px">Used</th>
                            <th style="width: 10px">Total</th>
                        </tr>
                        {% for client in arrayDTO %}
                        <tr>
                            {% set percentage=100*((client.usage/1000000.0)|number_format(2, '.', ',') / (client.package/1000000.0))|number_format(4, '.', ',') %}
                            {% set color='green' %}
                            {% if percentage>90 %}
                                {% set color='red' %}
                            {% elseif percentage >70 %}
                                {% set color='yellow' %}
                            {% endif %}
                            <td>{{ client.sid }}</td>
                            <td>{{ client.name }}</td>
                            <td>{{ client.mac }}</td>
                            <td>{{ client.state }}</td>
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-{{ color }}" style="width: {{percentage }}%"></div>
                                </div>
                            </td>
                            <td><span class="badge bg-{{ color }}">{{percentage }}% </span></td>
                            <td>{{ (client.usage/1000000.0)|number_format(2, '.', ',')}}Gb</td>
                            <td>{{ (client.package/1000000.0)|number_format(2, '.', ',') }}Gb</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}