{% set nav_path='index' %}

{% extends 'dashboard/base.html.twig' %}
{% block contentHeader %}Overview{% endblock %}
{% block contentDescription %}summary of everything{% endblock %}
{% block content %}
    {% if not totalUsageObj is empty %}
        <div class="row">
            <div class="col-md-6">
                <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Usage measured by quota</h3>
                        </div>
                        {% set totalUsage=totalUsageObj.total %}
                        <!-- /.box-header -->
                        {% set color='green' %}
                        {% if totalUsage/totalPackage > 0.9 %}
                            {% set color='red' %}
                        {% elseif totalUsage/totalPackage > 0.7 %}
                            {% set color='yellow' %}
                        {% endif %}

                        <div class="box-body">
                            <p><b>Total data usage: {{ (totalUsage*100/totalPackage)|number_format(2, '.', ',') }}%</b> ({{ (totalUsage/1000000.0)|number_format(2, '.', ',') }} of {{ (totalPackage/1000000.0)|number_format(2, '.', ',') }} Gb)</p>
                            <div class="progress">
                                <div id="pbar" class="progress-bar progress-bar-{{ color }}" role="progressbar" aria-valuenow="{{ totalUsage }}" aria-valuemin="0" aria-valuemax="{{ totalPackage }}" style="width: 0%">
                                    <span class="sr-only">{{ totalUsage*100/totalPackage }}%</span>
                                </div>
                            </div>
                            {% if totalUsage/totalPackage < 1 %}
                                <p>You are currently within the limit (excluding clients' pending data usage)</p>
                            {% else %}
                                <p>You have exceeded the package limit.</p>
                            {% endif %}
                        </div>
                        <script type="text/javascript">
                            window.setTimeout(drawProgbar,1000);
                            function drawProgbar(){
                                document.getElementById('pbar').style.width="{{ totalUsage*100/totalPackage }}%"
                            }
                        </script>
                        <!-- /.box-body -->
                    </div>
                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Days to spend</h3>
                    </div>
                    <!-- /.box-header -->
                    {% set color='green' %}
                    {% if today/totalDays > 0.9 %}
                        {% set color='red' %}
                    {% elseif today/totalDays > 0.7 %}
                        {% set color='yellow' %}
                    {% endif %}

                    <div class="box-body">
                        <p><b>Current package expired on: </b>{{ expireDate }}</p>
                        <div class="progress">
                            <div id="pbar2" class="progress-bar progress-bar-{{ color }}" role="progressbar" aria-valuenow="{{ today }}" aria-valuemin="0" aria-valuemax="{{ totalDays }}" style="width: 0%">
                                <span class="sr-only">{{ today*100/totalDays }}%</span>
                            </div>
                        </div>
                        {% if today-totalDays < 0 %}
                            <p>You can spend {{ totalDays-today }} days before expiry of current package.</p>
                        {% else %}
                            <p>Your package was expired {{ totalDays-today }} days before.</p>
                        {% endif %}
                    </div>
                    <script type="text/javascript">
                        window.setTimeout(drawProgbar2,1000);
                        function drawProgbar2(){
                            document.getElementById('pbar2').style.width="{{ today*100/totalDays }}%"
                        }
                    </script>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">User status</h3>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>User</th>
                                <th>Usage</th>
                                <th>Last activity on</th>
                                <th>Status</th>
                            </tr>
                            {% for client in clientStatusDTO %}
                                <tr>
                                    <td>{{ client.name }}</td>
                                    <td>{{ (client.usage/1000.0)|number_format(2, '.', ',') }} Mb</td>
                                    <td>{{ client.LLA }}</td>
                                    <td><span class="label label-success">Active</span></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Please follow below configuration steps.</h3>
                    </div>


                    <div class="box-body">
                        <ul class="timeline">

                            <!-- timeline time label -->
                            <li class="time-label">
                            <span class="bg-red">
                                Get start with Quota
                            </span>
                            </li>
                            <!-- /.timeline-label -->

                            <!-- timeline item -->
                            <li>
                                <!-- timeline icon -->
                                <i class="fa fa-cog bg-green"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">Change your wifi SSID and password</a></h3>
                                    <div class="timeline-body">
                                       To connect via Quota client application, you have to change wifi SSID (name of wifi access point) to your zone name which you chosen at first login. Also change wifi password to the password generated by Quota admin panel. Keep it as a secret.
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" href="{{ path("settings_myzone") }}"> View zone details </a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <!-- timeline icon -->
                                <i class="fa fa-plus bg-yellow"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">Add new master package</a></h3>
                                    <div class="timeline-body">
                                        Master package is the actual data package given by your internet service provider. Each new month you have to set a master package with start and end dates.
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" href="{{ path("settings_packages") }}"> Activate new package </a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <!-- timeline item -->
                            <li>
                                <!-- timeline icon -->
                                <i class="fa fa-user bg-purple"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                    <h3 class="timeline-header"><a href="#">Register clients</a></h3>
                                    <div class="timeline-body">
                                        Client application should be installed in every PC including yours if it supposed to use Quota wifi network. So download the client application and ask clients to connect to wifi using Quota application (It doesn't require the wifi password). First time every client will sent you a request and approve it.
                                    </div>
                                    <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs" href="{{ path("download") }}"> Download App. </a>
                                        <a class="btn btn-primary btn-xs" href="{{ path("client_requests") }}"> Approve client requests. </a>
                                    </div>
                                </div>
                            </li>
                            <!-- END timeline item -->
                            <li>
                            <!-- timeline icon -->
                            <i class="fa fa-flag bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                <h3 class="timeline-header"><a href="#">You're done</a></h3>
                                <div class="timeline-body">
                                    Initial configuration is that's all. You can view client usages, adjust client packages, add payments too. Congratulations. Enjoy the product!
                                </div>
                            </div>
                            </li>
                            <!-- END timeline item -->
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    {% endif %}
{% endblock %}